<a href="https://colab.research.google.com/github/InKyuHwang001/SQL/blob/master/GROUP_BY_11_14_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 입양 시각 구하기(1)
- https://school.programmers.co.kr/learn/courses/30/lessons/59412

In [ ]:
SELECT HOUR(DATETIME) AS 'HOUR' , COUNT(HOUR(DATETIME)) AS 'COUNT'
FROM ANIMAL_OUTS 
WHERE HOUR(DATETIME) >= 9 AND HOUR(DATETIME) <= 19 
GROUP BY HOUR(DATETIME)
ORDER BY HOUR(DATETIME);

# 입양 시각 구하기(2)
- https://school.programmers.co.kr/learn/courses/30/lessons/59413

In [ ]:
set @HOUR = -1;
select (@HOUR := @HOUR+1) as 'HOUR', (SELECT COUNT(*) FROM ANIMAL_OUTS WHERE HOUR(DATETIME) = @HOUR) AS COUNT
FROM ANIMAL_OUTS
WHERE @hour < 23