<a href="https://colab.research.google.com/github/InKyuHwang001/SQL/blob/master/IS_NULL_11_15_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 경기도에 위치한 식품창고 목록 출력하기
- https://school.programmers.co.kr/learn/courses/30/lessons/131114

In [ ]:
SELECT WAREHOUSE_ID,WAREHOUSE_NAME,ADDRESS, CASE WHEN FREEZER_YN IS NULL THEN 'N' ELSE FREEZER_YN END
FROM FOOD_WAREHOUSE
WHERE ADDRESS LIKE '경기도%'
ORDER BY WAREHOUSE_ID

# 나이 정보가 없는 회원 수 구하기
- https://school.programmers.co.kr/learn/courses/30/lessons/131528

In [ ]:
SELECT COUNT(USER_ID) AS USERS
FROM USER_INFO
WHERE AGE IS NULL