<a href="https://colab.research.google.com/github/InKyuHwang001/SQL/blob/master/JOIN_11_10_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 없어진 기록 찾기
- https://school.programmers.co.kr/learn/courses/30/lessons/59042

In [ ]:
SELECT A.ANIMAL_ID, A.NAME FROM ANIMAL_OUTS AS A
LEFT JOIN ANIMAL_INS AS B ON A.ANIMAL_ID = B.ANIMAL_ID
WHERE B.ANIMAL_ID IS NULL ORDER BY A.ANIMAL_ID;

# 있었는데요 없었습니다
- https://school.programmers.co.kr/learn/courses/30/lessons/59043

In [ ]:
SELECT A.ANIMAL_ID, A.NAME FROM ANIMAL_OUTS AS A
LEFT JOIN ANIMAL_INS AS B ON A.ANIMAL_ID=B.ANIMAL_ID
WHERE A.DATETIME < B.DATETIME
ORDER BY B.DATETIME;