<a href="https://colab.research.google.com/github/InKyuHwang001/SQL/blob/master/String%2CDate_11_17_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중성화 여부 파악하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59409

In [ ]:
SELECT ANIMAL_ID, NAME, 
CASE WHEN(SEX_UPON_INTAKE LIKE "%Neutered%" OR SEX_UPON_INTAKE LIKE "%Spayed%") THEN "O" ELSE "X" END AS '중성화'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

In [ ]:
SELECT ANIMAL_ID, NAME, 
IF(SEX_UPON_INTAKE LIKE '%NEUTERED%' OR SEX_UPON_INTAKE LIKE '%SPAYED%','O','X') AS '중성화'
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;

# 오랜 기간 보호한 동물(2)
- https://school.programmers.co.kr/learn/courses/30/lessons/59411

In [ ]:
SELECT I.ANIMAL_ID, I.NAME 
FROM ANIMAL_INS I, ANIMAL_OUTS O WHERE I.ANIMAL_ID = O.ANIMAL_ID 
ORDER BY O.DATETIME-I.DATETIME DESC 
LIMIT 2;

In [ ]:
SELECT I.ANIMAL_ID, I.NAME FROM ANIMAL_INS I 
JOIN ANIMAL_OUTS O ON I.ANIMAL_ID = O.ANIMAL_ID 
ORDER BY O.DATETIME-I.DATETIME DESC LIMIT 2;