<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/String%2C_Date_11_12_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 루시와 엘라 찾기
- https://school.programmers.co.kr/learn/courses/30/lessons/59046

In [ ]:
SELECT ANIMAL_ID, NAME, SEX_UPON_INTAKE
FROM ANIMAL_INS
WHERE NAME IN ('Lucy','Ella','Pickle','Rogan','Sabrina','Mitty')
ORDER BY ANIMAL_ID;

# 이름에 el이 들어가는 동물 찾기
- https://school.programmers.co.kr/learn/courses/30/lessons/59047

In [ ]:
SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE NAME LIKE "%EL%" AND ANIMAL_TYPE	= 'Dog'
ORDER BY NAME