# 동물 수 구하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59406

In [ ]:
SELECT COUNT(ANIMAL_ID) FROM ANIMAL_INS

# 중복 제거하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59408

In [ ]:
SELECT COUNT(DISTINCT NAME) AS 'count' FROM ANIMAL_INS
WHERE NAME IS NOT NULL