<a href="https://colab.research.google.com/github/InKyuHwang001/Algorithm/blob/master/SUM%2CMAX%2CMIN_11_13_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 최댓값 구하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59415

In [ ]:
SELECT MAX(DATETIME) as '시간' FROM ANIMAL_INS

# 최솟값 구하기
- https://school.programmers.co.kr/learn/courses/30/lessons/59038

In [ ]:
select min(DATETIME) as '시간' from ANIMAL_INS